.modalBg#bookSucess
    .modal
        h2 Booking successful
        div Your booking reference is:
            h3#_id
        p Looking forward to seeing you soon

.modalBg#bookFull
    .modal
        h2 Booking full at your selected time and date
        .bookingDate
        p Please create booking for a different time

.modalBg#bookFail
    .modal
        h2 Booking error
        p Please refresh to try again or give us a call

if booking
    .modalBg#bookDeleted
        .modal
            h2 Booking deleted
            p We hope to see you soon