#about-page {
	min-height: 90vh;
	.about-image {
		display: none;
	}
	.about-content {
		padding: 10vh;
		@include flexCenter(column);
		div {
			@include flexCenter(row);
			width: 100vw;
			padding: 2em;
		}
	}
	@media only screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column-reverse;
		.about-image {
			background-image: url(../images/waitress.jpg);
			background-repeat: no-repeat no-repeat;
			background-size: cover;
			background-position: center;
			display: block;
			width: 100vw;
			height: 50%;
		}
	}
	@media only screen and (min-width: $desktop) {
        flex-direction: row;
		.about-image {
			width: 50vw;
			height: 90vh;
		}
		.about-content {
			width: 50vw;
			height: 90vh;
			div {
				width: 40vw;
			}
		}
	}
}
