#about-page {
    height: 90vh;
    .about-image{
        display: none;
    }
    .about-content{
        padding: 10vh;
        @include flexCenter(column);
        div {
            @include flexCenter(row);
            width: 100vw;
            padding: 2em;
        }
    }
}

@media only screen and (min-width: 720px) {
#about-page {
    @include flexCenter(row);
    .about-image {
        display: block; 
        width: 50vw;
        height: 90vh;
        background-image: url(../images/waitress.jpg);
        background-repeat: no-repeat no-repeat;
        background-size: cover;
        background-position: center;   
    }
    .about-content {
        width: 50vw;
        height: 90vh;
        div {
            width: 40vw;
        }
    }
}
}
