#connect {
    scroll-snap-align: center;
    height: 30vh;
    padding-top: 10vh;
    ul {
        @include flexCenter(row);
        list-style: none; 
    }
    li {
        width: 55px;
        img {
            width: 55px;
            padding-left: 10px;
        }
    }
}