
#home-title {
    min-height: 90vh;
    background-image: url(/images/burger-mob.jpg);
    @include media($desktop) {
        background-image: url(/images/burger-desktop.jpg);
    }
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1em;
    @include flexCenter(row);  
}

