.modalBg {
    position: fixed;
    top: 15vh; 
    left: 5vw;
    height: 80vh;
    width: 90vw;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}

.modal {
    background: #000;
    box-shadow: 0px 0px 16px 10px $green;
    padding: 1vh;
    text-shadow: none;
    height: 100%;
    width: 100%;
    @include media($desktop) {
        min-width: 50vw;
        min-height: 60vh;
    }
    button {
        margin: 1em;
        padding: 1em;
        border-style: none;
        background: $green;
        font-family: 'Slabo 27px', serif;
        @include fontSize;
        cursor: pointer;
        &:hover {
            background: $darkgreen;
        }
        width: 90%;
        @include media($desktop){
            width: auto;
            min-width: 10vw;
        }
    }
    input {
        width: 90%;
    }
}

.modal-close {
    text-align: right;
    color: $green;
    span {
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
}

.booking {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background: #000;
    a {
        text-decoration: none;
        color: $green;
    }
    min-width: 50vw;
    min-height: 60vh;
}

.map {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background: #000;
    a {
        text-decoration: none;
        color: $green;
    }
    min-width: 50vw;
    min-height: 60vh;
}

.modal-active {
    opacity: 1;
    pointer-events: all;
}

.map div iframe {
    min-width: 50vw;
    min-height: 60vh;
}



