.modal-bg {
    position: fixed;
    top: 0; 
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
}

.modal {
    border: 1.5em solid $white;
    border-top: none;
    position: relative;
    background: #000;
    height: 100vh;
    width: 100vw;
    text-shadow: none;
    @include media($desktop) {
        height: 60vh;
        width: 50vw;
    }
}

.modal div {
    display: "none";
    height: 100%;
    width: 100%;
}


.modal-header {
    height: 1.5em;
    background: $white;
    width: 100%;
    text-align: right;
    color: $green;
    .modal-close {
        cursor: pointer;
    }
}

.modal-active {
    opacity: 1;
    pointer-events: auto;
}



