@import './variables';
@import './modal';

@mixin width {
    width: 95vw; 
    .label, .field, input, textarea, .dropdownContent {
        width: 95vw;
    }
    @include media($desktop) {
        width: 70vw;
        .label {
            width: 25vw;
        }
        .field, input, textarea, .dropdownContent {
            width: 40vw;
        }
    }
}

@mixin button {
    button, input[type=submit] {
        height: 10vh;
        line-height: 10vh;
        border-style: none;
        background: $green;
        font-family: 'Slabo 27px', serif;
        @include fontSize;
        cursor: pointer;
        &:hover {
            background: $darkgreen;
        }
        width: 100%;
        @include media($desktop){
            width: auto;
            min-width: 10vw;
        }
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background: #000;
    color: $white;
    font-family: 'Slabo 27px', serif;
    @include fontSize;
    line-height: 2;
    width: 100vw;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    @include media($desktop) {
        background-image: url(/images/burger-bg.jpeg);
        background-repeat: no-repeat no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        }
}

:focus {
    outline-color: $darkgreen;
}



nav {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background: #000;
    width: 100vw;
    padding: 0 2vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    img {
        width: auto;
        height: 10vh;
    }
    #backBtn {
        text-shadow: 1px 1px 2px black;
        color: $white;
        text-decoration: none;
        font-size: larger;
        &:hover {
            color: $darkgreen;
        }
    }
}

#blank {
    height: 0;
    @include media($desktop) {
        height: 10vh;
    }
}

#bookingForm {
    background: #000;
    @include width;
    margin: auto;
    margin-top: 10vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    @include media($desktop) {
        margin: 10vh auto;
        height: 70vh;
        overflow-y: scroll;
        -ms-overflow-style: none; 
        &::-webkit-scrollbar { 
            width: 0;
            height: 0;
        }
    }
}

form {
    @include width;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: space-evenly;
    .row {
        @include width;
        margin: 3vh 0 1vh;
        @include media($desktop) {
            display: flex;
            margin: 2vh 0 1vw;
        }
    }
    input {
        display: block;
        width: 100%;
        font-family: 'Slabo 27px';
        font-size: larger;
        text-align: center;
        height: 8vh;
        padding: 2vw;
        @include media ($desktop) {
            padding: 1vw;
        }
        background: $white;
    }
    .inputInvalid {
        border: 2px solid red;
    }
    .error {
        opacity: 0;
        color: red;
        @include media ($desktop) {
            text-align: left;
        }
    }
    .errorActive{
        opacity: 1;
    }
    textarea {
        @extend input;
        min-height: 25vh;
        resize: vertical;
        text-align: center;
        background: $white;
        color: black;
    }
}

//dropdown
.dropdown {
    position: relative;
}
.dropdownContent {
    position: absolute;
    background: $white;
    top: 8vh;
    left: 0;
    height: 0;
    opacity: 0;
    z-index: 99;
    pointer-events: none;
    transition: height 1s ease-in-out;
    border: 2px solid grey;
    overflow-y: hidden;
    @include button;
    button {
        border: 1px solid grey;
        display: block;
        min-width: 50%;
    }
    @include media($desktop){
        display: flex;
        flex-wrap: wrap;
    }
}

.dropdown:hover {
    .dropdownContent {
        height: auto;
        max-height: 40vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
          }
        -ms-overflow-style: none;
        opacity: 1;
        transition: height 1s ease-in-out;
        pointer-events: all;
    }
}

//booking

.buttons {
    width: 100%;
    @include button;
    #deleteBtn {
        background: red;
    }
    button {
        margin: 1vh 1vw;
    }
    @include media($desktop) {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}


.formEditable {
    #updateBtn {display: block};
    #editBtn, #deleteBtn {display: none};
    pointer-events: all;
}

.formDisabled {
    #updateBtn {display: none};
    pointer-events: none;
    #editBtn, #deleteBtn {
        pointer-events: all;
    }
}