@import './variables';

@mixin width {
    width: 95vw; 
    @include media($desktop) {
        margin-top: 10vh;
        width: 60vw;
    }
}

@mixin selectionBox {
    width: 75vw;
        @include media($desktop) {
            width: 40vw;
        }
    label {
        @include flexCenter(row);
        width: inherit;
        background: $white;
        color: black;
        height: 8vh;
        margin: 2vh 0;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: $green;
        }
    }
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #000;
    color: $white;
    font-family: 'Slabo 27px', serif;
    min-height: 100vh;
    @include fontSize;
    line-height: 2;
    text-align: center;
    overflow-x: hidden;
    @include media($desktop) {
        background-image: url(/images/burger-bg.jpeg);
        background-repeat: no-repeat no-repeat;
        background-size: cover;
        background-position: center;
        }
}

:focus {
    outline-color: $darkgreen;
}

button {
    padding: 1em;
    border-style: none;
    background: $green;
    font-family: 'Slabo 27px', serif;
    border-radius: 15px;
    @include fontSize;
    cursor: pointer;
    &:hover {
        background: $darkgreen;
    }
}

nav {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background: #000;
    width: 100vw;
    padding: 0 2vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    img {
        width: auto;
        height: 10vh;
    }
    #backBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 1px 1px 2px black;
        background: $green;
        color: $white;
        min-width: 10vw;
        text-decoration: none;
        padding: 0 2vw;
        width: auto;
        margin-right: 1vw;
        border-radius: 15px;
        &:hover {
            background: $darkgreen;
        }
    }
}

#blank {
    height: 10vh;
}

#editBooking, #makeBooking {
    background: #000;
    margin: 2vh auto;
    @include media($desktop) {
        margin: 10vh auto;
    }
    @include width;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

form {
    @include width;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: space-evenly;
    .row {
        @include width;
        height: auto;
        display: grid;        
        margin: 1vh 0;
        padding: 1vh 1vw;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: "label" "field";
        align-items: center;
        justify-content: center;
        @include media($desktop){
            margin: 1vw 0;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: min-content;
            grid-template-areas: "label label field field field field"
        }
        .label {
            grid-area: label;
            display: block;
        }
        .field {
            grid-area: field;
        }
    }
    input {
        display: block;
        width: 95%;
        font-family: 'Slabo 27px';
        font-size: larger;
        text-align: center;
        height: 8vh;
        padding: 2vw;
        margin: 2vw;
        @include media ($desktop) {
            padding: 1vw;
            margin: 1vw;
        }
        background: $white;
        border-radius: 15px;
    }
    .invalid {
        border: 2px solid red;
    }
    .error {
        display: none;
        color: red;
    }
    textarea {
        @extend input;
        min-height: 25vh;
        width: 95%;
        resize: vertical;
        text-align: center;
        background: $white;
        color: black;
    }
}

.time, .party, .restaurant {
    display: flex;
    button {
        margin: 1vh 0;
    }
}

.party, .time, .date {
    @include media($desktop){
        h3::after {
            content: "";
            display: block;
            height: 2px;
            width: 60%;
            margin: auto;
            border-bottom: 2px dotted $green;
        }
        position: relative;
        z-index: 0;
    }
}

.tooltip {
    position: absolute;
    opacity: 0;
    background: $green;
    width: auto;
    padding: 1vh 1vw;
    border-radius: 15px;
    &:hover {
        opacity: 1;
    }
}

.modalBg {
    position: fixed;
    z-index: 99;
    top: 10vh;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0; 
    transition: opacity 0.6s ease-in-out;
    .modal {
        min-width: 50vw;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: #000;
        border: 5vw solid $white;
        padding: 2vw;
        a {
            text-decoration: none;
            color: $green;
        }
    }
}

.modalActive {
    pointer-events: all;
    opacity: 1;
}

//booking

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    #deleteBtn {
        @extend button;
        background: red;
    }
}


.formEditable {
    #updateBtn, .decBtn, .incBtn, .restaurantBtn {display: block};
    #editBtn, #deleteBtn {color: orange; display: none}
}

.formDisabled {
    #updateBtn, .decBtn, .incBtn, .restaurantBtn {display: none}
}