@import './variables';

@mixin width {
    width: 95vw; 
    @include media($desktop) {
        margin-top: 10vh;
        width: 60vw;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #000;
    color: $white;
    font-family: 'Slabo 27px', serif;
    @include fontSize;
    min-height: 100vh;
    line-height: 2;
    text-align: center;
    overflow-x: hidden;
    @include media($desktop) {
        background-image: url(/images/burger-bg.jpeg);
        background-repeat: no-repeat no-repeat;
        background-size: cover;
        background-position: center;
        }
}

:focus {
    outline-color: $darkgreen;
}

button {
    padding: 1em;
    border-style: none;
    font-family: 'Slabo 27px', serif;
    height: auto;
    border-radius: 15px;
    @include fontSize;
    color: $white;
    cursor: pointer;
}

nav {
    background: #000;
    width: 100vw;
    padding: 0 2vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    img {
        width: auto;
        height: 10vh;
    }
    #backBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-shadow: 1px 1px 2px black;
        background: $green;
        color: $white;
        min-width: 10vw;
        text-decoration: none;
        padding: 0 2vw;
        width: auto;
        margin-right: 1vw;
        border-radius: 15px;
        &:hover {
            background: $darkgreen;
        }
    }
}

#booking {
    background: #000;
    margin: 2vh auto;
    @include media($desktop) {
        margin: 10vh auto;
    }
    @include width;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

form {
    @include width;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: space-evenly;
    .row {
        @include width;
        height: auto;
        display: grid;        
        margin: 1vh 0;
        padding: 1vh 1vw;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: "label" "field";
        align-items: center;
        justify-content: center;
        @include media($desktop){
            margin: 1vw 0;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: min-content;
            grid-template-areas: "label label field field field field"
        }
        .label {
            grid-area: label;
            display: block;
        }
        .field {
            grid-area: field;
        }
    }
    h3::after {
        content: ' * ';
        color: $green;
    }
    input {
        display: block;
        width: 95%;
        font-family: 'Slabo 27px';
        font-size: larger;
        text-align: center;
        height: 8vh;
        padding: 2vw;
        margin: 2vw;
        @include media ($desktop) {
            padding: 1vw;
            margin: 1vw;
        }
        background: $white;
        border-radius: 15px;
    }
    .invalid {
        border: 2px solid red;
    }
    .error {
        display: none;
        color: red;
    }
    textarea {
        @extend input;
        min-height: 25vh;
        width: 95%;
        resize: vertical;
        text-align: center;
        background: $white;
        color: black;
    }
}

.restaurant {
    .restaurants {
        display: flex;
    }
    label {
        padding: 2vw;
        margin: 2vw;
        @include media ($desktop) {
            padding: 1vw;
            margin: 1vw;
        }
        width: 100%;
        background: $green;
        border-radius: 15px;
        &:hover {
            background: $darkgreen;
        }
    }
    input[type=radio] {
        height: 0;
        width: 0;
    }
    input[type=radio]:checked + label {
        background: $darkgreen;
    }
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    #editBtn {
        @extend button;
        background: $green;
    }
    #cancelBtn {
        @extend button;
        background: $green;
        display: none;
    }
    #updateBtn {
    @extend button;
    background: $blue;
    display: none;
    }
    #deleteBtn {
        @extend button;
        background: red;
    }
}

