.modalBg {
  position: fixed;
  height: 90vh;
  width: 100vw;
  top: 10vh;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  pointer-events: none;
}

@media (min-width: 720px) {
  .modalBg {
    top: 0;
    height: 100vh;
  }
}

.modal {
  position: relative;
  background: #000;
  text-shadow: none;
  height: 92vh;
  width: 100vw;
  margin: auto;
}

.modal button {
  margin: 1em;
  padding: 1em;
  border-style: none;
  background: #36970f;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
  width: 90%;
  border-radius: 1px;
}

@media (min-width: 600px) {
  .modal button {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .modal button {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .modal button {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  .modal button {
    font-size: 22px;
  }
}

.modal button:hover {
  background: #205909;
}

.modal input, .modal form textarea, form .modal textarea {
  width: 90%;
}

@media (min-width: 720px) {
  .modal {
    width: 60vw;
    height: 60vh;
    border: 1px solid #36970f;
    border-radius: 1px;
  }
  .modal button {
    width: auto;
    min-width: 10vw;
  }
  .modal input, .modal form textarea, form .modal textarea {
    width: 55vw;
  }
}

.modal-close {
  color: #36970f;
  line-height: 1;
  padding: 2vh;
  font-size: larger;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}

.modal-close:hover {
  color: #205909;
}

.booking {
  padding: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  background: #000;
  min-width: 50vw;
  min-height: 60vh;
}

.booking a {
  text-decoration: none;
  color: #36970f;
}

.map {
  height: 100%;
  width: 100%;
  max-height: 92vh;
}

@media (min-width: 720px) {
  .map {
    height: 60vh;
  }
}

.modal-active {
  opacity: 1;
  pointer-events: all;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(/images/burger-bg.jpeg);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  margin-top: 10vh;
  width: 100vw;
  color: #f5f5f5;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  line-height: 1.2;
  line-height: 2;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media (min-width: 600px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  body {
    font-size: 22px;
  }
}

:focus {
  outline-color: #205909;
}

nav {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  background: #000;
  width: 100vw;
  padding: 0 2vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  width: auto;
  height: 10vh;
}

nav #backBtn {
  text-shadow: 1px 1px 2px black;
  color: #f5f5f5;
  text-decoration: none;
  font-size: larger;
}

nav #backBtn:hover {
  color: #205909;
}

#blank {
  height: 0;
}

@media (min-width: 720px) {
  #blank {
    height: 10vh;
  }
}

#bookingForm {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
  overflow-y: scroll;
}

@media (min-width: 720px) {
  #bookingForm {
    -ms-overflow-style: none;
  }
  #bookingForm::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

form {
  margin-top: 3vh;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .label, form .field, form input, form textarea, form .dropdownContent {
  width: 95vw;
}

@media (min-width: 720px) {
  form {
    width: 70vw;
  }
  form .label {
    width: 20vw;
  }
  form .field, form input, form textarea, form .dropdownContent {
    width: 50vw;
  }
}

form .row {
  width: 95vw;
  margin: 3vh 0 1vh;
}

form .row .label, form .row .field, form .row input, form .row textarea, form .row .dropdownContent {
  width: 95vw;
}

@media (min-width: 720px) {
  form .row {
    width: 70vw;
  }
  form .row .label {
    width: 20vw;
  }
  form .row .field, form .row input, form .row textarea, form .row .dropdownContent {
    width: 50vw;
  }
}

@media (min-width: 720px) {
  form .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 2vh 0 1vw;
  }
}

form input, form textarea {
  display: block;
  width: 100%;
  font-family: 'Slabo 27px';
  font-size: larger;
  text-align: center;
  height: 8vh;
  padding: 2vw;
  background: #f5f5f5;
}

@media (min-width: 720px) {
  form input, form textarea {
    padding: 1vw;
  }
}

form .inputInvalid {
  border: 2px solid red;
}

form .error {
  opacity: 0;
  color: red;
}

@media (min-width: 720px) {
  form .error {
    text-align: left;
  }
}

form .errorActive {
  opacity: 1;
}

form .message {
  width: 95vw;
}

form .message .label, form .message .field, form .message input, form .message textarea, form .message .dropdownContent {
  width: 95vw;
}

@media (min-width: 720px) {
  form .message {
    width: 70vw;
  }
  form .message .label {
    width: 20vw;
  }
  form .message .field, form .message input, form .message textarea, form .message .dropdownContent {
    width: 50vw;
  }
}

@media (min-width: 720px) {
  form .message textarea {
    margin-top: 2vh;
    width: 70vw;
  }
}

form textarea {
  min-height: 25vh;
  resize: vertical;
  text-align: center;
  background: #f5f5f5;
  color: black;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  position: absolute;
  background: #f5f5f5;
  top: 8vh;
  left: 0;
  height: 0;
  opacity: 0;
  z-index: 99;
  pointer-events: none;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  border: 2px solid grey;
  overflow-y: hidden;
}

.dropdownContent button, .dropdownContent input[type=submit], .dropdownContent form textarea[type=submit], form .dropdownContent textarea[type=submit] {
  height: 10vh;
  line-height: 10vh;
  border-style: none;
  background: #36970f;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 600px) {
  .dropdownContent button, .dropdownContent input[type=submit], .dropdownContent form textarea[type=submit], form .dropdownContent textarea[type=submit] {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .dropdownContent button, .dropdownContent input[type=submit], .dropdownContent form textarea[type=submit], form .dropdownContent textarea[type=submit] {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .dropdownContent button, .dropdownContent input[type=submit], .dropdownContent form textarea[type=submit], form .dropdownContent textarea[type=submit] {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  .dropdownContent button, .dropdownContent input[type=submit], .dropdownContent form textarea[type=submit], form .dropdownContent textarea[type=submit] {
    font-size: 22px;
  }
}

.dropdownContent button:hover, .dropdownContent input[type=submit]:hover, .dropdownContent form textarea[type=submit]:hover, form .dropdownContent textarea[type=submit]:hover {
  background: #205909;
}

.dropdownContent button {
  border: 1px solid grey;
  display: block;
}

@media (min-width: 720px) {
  .dropdownContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dropdownContent button {
    width: 50%;
  }
}

.dropdown:hover .dropdownContent {
  height: auto;
  max-height: 40vh;
  overflow-y: auto;
  -ms-overflow-style: none;
  opacity: 1;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  pointer-events: all;
}

.dropdown:hover .dropdownContent::-webkit-scrollbar {
  display: none;
}

.buttons {
  width: 95vw;
  margin: 5vh 0;
}

.buttons .label, .buttons .field, .buttons input, .buttons form textarea, form .buttons textarea, .buttons .dropdownContent {
  width: 95vw;
}

@media (min-width: 720px) {
  .buttons {
    width: 70vw;
  }
  .buttons .label {
    width: 20vw;
  }
  .buttons .field, .buttons input, .buttons form textarea, form .buttons textarea, .buttons .dropdownContent {
    width: 50vw;
  }
}

.buttons button, .buttons input[type=submit], .buttons form textarea[type=submit], form .buttons textarea[type=submit] {
  height: 10vh;
  line-height: 10vh;
  border-style: none;
  background: #36970f;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
  width: 100%;
}

@media (min-width: 600px) {
  .buttons button, .buttons input[type=submit], .buttons form textarea[type=submit], form .buttons textarea[type=submit] {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  .buttons button, .buttons input[type=submit], .buttons form textarea[type=submit], form .buttons textarea[type=submit] {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .buttons button, .buttons input[type=submit], .buttons form textarea[type=submit], form .buttons textarea[type=submit] {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  .buttons button, .buttons input[type=submit], .buttons form textarea[type=submit], form .buttons textarea[type=submit] {
    font-size: 22px;
  }
}

.buttons button:hover, .buttons input[type=submit]:hover, .buttons form textarea[type=submit]:hover, form .buttons textarea[type=submit]:hover {
  background: #205909;
}

.buttons #deleteBtn {
  background: red;
}

.buttons button {
  margin: 1vh 0;
}

@media (min-width: 720px) {
  .buttons {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: (20vw)[auto-fit];
        grid-template-columns: repeat(auto-fit, 20vw);
    grid-gap: 30vw;
  }
}

.formEditable {
  pointer-events: all;
}

.formEditable #updateBtn {
  display: block;
}

.formEditable #editBtn, .formEditable #deleteBtn {
  display: none;
}

.formDisabled {
  pointer-events: none;
}

.formDisabled #updateBtn {
  display: none;
}

.formDisabled #editBtn, .formDisabled #deleteBtn {
  pointer-events: all;
}

.bookingDate {
  text-align: left;
}

.bookingDate span {
  color: #205909;
  font-size: larger;
}
/*# sourceMappingURL=book.css.map */