@import "./variables";
@import "./modal";

$height: 65px;

@mixin width {
	width: 95vw;
	.label,
	.field,
	input,
	select,
	.option,
	.dropdownContent {
		width: 95vw;
	}
	@include media($desktop) {
		width: 70vw;
		.label {
			width: 20vw;
		}
		.field,
		input,
		select,
		.option,
		.dropdownContent {
			width: 50vw;
		}
	}
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	width: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	color: $white;
	font-family: "Source Sans Pro", sans-serif;
	@include fontSize;
	line-height: 2;
	text-align: center;
	overflow-x: hidden;
	overflow-y: hidden;
}

:focus {
	outline-color: $darkGreen;
}

button,
input[type="submit"] {
	font-family: "Source Sans Pro", sans-serif;
	@include fontSize;
	border-style: none;
	background: $green;
	padding: 1em;
	cursor: pointer;
	&:hover {
		background: $darkGreen;
	}
	border-style: none;
	width: 100%;
	&:disabled {
		&:hover {
			background: $green;
		}
	}
}

nav {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	background: #000;
	width: 100vw;
	padding: 0 2vw;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	img {
		width: auto;
		height: 10vh;
	}
	#backBtn {
		text-shadow: 1px 1px 2px black;
		color: $white;
		text-decoration: none;
		font-size: larger;
		&:hover {
			color: $darkGreen;
		}
	}
}

#background {
	background-image: url(/images/burger-bg.jpeg);
	background-repeat: no-repeat no-repeat;
	background-size: cover;
	background-position: center;
	position: fixed;
	z-index: -99;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#bookingForm {
	background: rgba(0, 0, 0, 0.7);
	width: 100vw;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	overflow-y: scroll;
	@include media($desktop) {
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}
}

form {
	margin-top: 3vh;
	@include width;
	display: flex;
	flex-direction: column;
	align-items: center;
	.row {
		@include width;
		margin: 3vh 0 1vh;
		@include media($desktop) {
			display: flex;
			align-items: flex-start;
			margin: 2vh 0 1vw;
		}
	}
	input,
	select {
		display: block;
		width: 100%;
		font-family: "Source Sans Pro", sans-serif;
		font-size: larger;
		text-align: left;
		padding: 2vw;
		border: none;
		@include media($desktop) {
			padding: 1vw;
		}
		background: $white;
	}
	option {
		padding: 2vw;
		&:hover {
			background: $green;
		}
	}
	.inputInvalid {
		border: 2px solid red;
	}
	.error {
		opacity: 0;
		color: red;
		@include media($desktop) {
			text-align: left;
		}
	}
	.errorActive {
		opacity: 1;
	}
	.message {
		@include width;
		@include media($desktop) {
			textarea {
				margin-top: 2vh;
				width: 70vw;
			}
		}
	}
	textarea {
		@extend input;
		min-height: 30vh;
		resize: vertical;
		background: $white;
		color: black;
		padding: 2vh;
	}
}

//booking

.buttons {
	@include width;
	#deleteBtn {
		background: red;
	}
	button {
		margin: 1vh 0;
	}
	margin: 5vh 0;
	@include media($desktop) {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, 20vw);
		grid-gap: 30vw;
	}
}

.formEditable {
	#updateBtn {
		display: block;
	}
	#editBtn,
	#deleteBtn {
		display: none;
	}
	pointer-events: all;
}

.formDisabled {
	#updateBtn {
		display: none;
	}
	pointer-events: none;
	#editBtn,
	#deleteBtn {
		pointer-events: all;
	}
}

.bookingDate {
	text-align: left;
	span {
		color: $darkGreen;
		font-size: larger;
	}
}
