@import './variables';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Slabo 27px', serif;
    font-size: 14px; 
    @media (min-width: 600px) {font-size: 16px};
    @media (min-width: 900px) {font-size: 18px};
    @media (min-width: 1200px) {font-size: 20px};
    @media (min-width: 1800px) {font-size: 22px};
    background: #000;
    color: $white;
    line-height: 2;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    overflow-x: hidden;
}

:focus {
    outline-color: darkgreen;
}

.dots {
    text-align: center;
}

@import "navbar";
@import "home";
@import "about";
@import "menu";
@import "review";
@import "location";
@import "connect";
@import "modal";



/* 320, 720, 1020 */