doctype html
html(lang="en")
    includes partials/head.pug
    body
        includes partials/nav.pug
        .bookingForm
            h2 Book a table
            p Place your booking for the next fortnight using the form below
            includes partials/bookForm.pug
            includes partials/bookModals.pug
        script(src="js/booking/book.js")