<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Slabo+27px&display=swap")
        link(rel="stylesheet", href="./styles/index.css")
        link(rel="icon", href="./images/favicon.png")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js")
        title Big Burger Restaurant
    body
        nav
            a(href="#home")
                img(src="/images/burger-logo-smaller.jpg", alt="Big Burger Logo")
                .nav-links
                    a(href="#about") About
                    a(href="#menu") Menu
                    a(href="#reviews") Reviews
                    a(href="location") Locations
                    a#bookBtn(href="./book.html") Book Now
                .burger
                    .line.line1
                    .line.line2
                    .line.line3
        section#home
            #home-time
                h2 Handmade gourmet burgers
        section#about
            #about-page
                .about-image
                .about-content
                    h2 About
                    div Since 2003, we having been hand pressing fresh local produce into our BIG BURGER patties. Old favourites served alongside our monthly special in both our independently run restaurants. All produce is made by us on site using the finest ingredients served alongside local beer. We look forward to seeing you soon
        section#menu
            #menu-title
                h2 Menu
                a.arrow(href="#menu-content") 
                    i.fas.fa-angle-double-down.fa-2x
            #menu-content
                .menu-nav
                    button#button-starter To start with
                    button#button-burger The Burgers
                    button#button-sides Fries, Sides and Dips
                    button#button-pudding To finish up
                .menu-container
                    h2 Choose your burgers
                    p.menu-description All handcrafter burgers come with lettuce, tomato and a fresh bun
                    .menu-list
                        .menu-item
                            h4 Smoking cow
                            span.menu-text Our patty, bbq sauce, jalapenos
                            .menu-price £9
                        .menu-item
                            h4 Chickn Lickn
                            span.menu-text Southern fried chicken, bbq sauce
                            .menu-price £9
                        .menu-item
                            h4 Three pigs
                            span.menu-text Sausage patty, Bacon, Chorizo
                            .menu-price £9
                        .menu-item
                            h4 Classic
                            span.menu-text Beef patty, Gherkins, Tomato sauce
                            .menu-price £9
        section#reviews
            h2 Reviews
            .review-container
                .review-item
                    h3 Burgasm
                    p.review-text Been to many a burger joint all over the world and these guys make the best burger I have ever had!
                    p.review-name - Paul, Bedfordshire





