#about-page {
    @include flexCenter(column);
    .h2 {
        height: 20vh;
    }
    div {
        height: 50vh;
        @include flexCenter(row);
        width: 100vw;
        padding: 2em;
        font-size: 10pt; 
    }
}

@media only screen and (min-width: 720px) {
#about-page {
    div {
        width: 50%;
        font-size: 12pt
    }
}
}
