#location {
    height: auto;
    @media (min-width: 500px){
        height: 100vh;
    };
    padding: 1em;
    @include flexCenter(column);
    h2 {
        height: 10vh;
    }
    .location-container{
        width: 100vw;
        height: 60vh;
        position: relative;
        .location-item {
            position: absolute;
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            opacity: 0;
            pointer-events: none;
            &:nth-child(1) {opacity: 1; pointer-events: auto}
            button {
                font-family: 'Slabo 27px';
                margin: 1vh;
                padding: 1em;
                border-style: none;
                background: $green;
                cursor: pointer;
                &:hover {
                    background: $darkgreen;
                }
            }
            .contact {
                a {
                    text-decoration: none;
                    color: white;
                }
                p:hover {
                    color: $green;
                }
            }
        }
    } 
    .location-dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: $green;
        &:nth-child(1) {background-color:$darkgreen};
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.3s ease;
        cursor: pointer;
    }
}

// icons 

@media only screen and (min-width: 720px) {
    .swipe {
        display: none;
    }
}