#menu-title {
    @extend #home-title;
    flex-direction: column;
    h2 {
        height: 100vh;
        display: block;
        @include flexCenter(row);
    }
    .arrow {
        height: 10vh;
        text-decoration: none; 
        color: $green;
        &:hover{
            color: darkgreen;
        }
    }
}

#menu-content {
    @media (min-width: 720px){
        height: 100vh;
    }
    .menu-nav {
        padding-top: 10vh;
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button {
            font-family: 'Slabo 27px';
            font-size: 14px;
            height: 15vh;
            flex: 1;
            margin: 1vw;
            @media (min-width: 720px) {
                padding: 1em;
                margin: 0 1em;
            }
            border-style: none;
            background: $green;
            cursor: pointer;
            &:hover {
                background: darkgreen;
            }
        }
    }
    .menu-container {
        height: 70vh;
        width: 100vw;
        padding: 1em;
        overflow: hidden;
        transition: opacity 0.6s ease;
        @include flexCenter(column);
        justify-content: space-around;
    }
    .menu-list {
        @media (min-width: 720px) {
            width: 70vw;
            column-count: 2;
        }
    }
}




