#menu-title {
    @extend #home-title;
    flex-direction: column;
    h2 {
        height: 100vh;
        display: block;
        @include flexCenter(row);
    }
    .arrow {
        height: 10vh;
        text-decoration: none; 
        color: $green;
        &:hover{
            color: $darkgreen;
        }
    }
}

#menu-content {
    height: auto;
    @media (min-width: 500px){
        height: 100vh;
    }
    .menu-nav {
        height: 25vh;
        padding-top: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        button {
            font-family: 'Slabo 27px';
            font-size: 14px;
            height: 15vh;
            flex: 1;
            margin: 1vw;
            @media (min-width: 720px) {
                padding: 1em;
                margin: 0 1em;
            }
            border-style: none;
            background: $green;
            cursor: pointer;
            &:hover {
                background: $darkgreen;
            }
        }
    }  
    .menu-container {
        width: 100vw;
        overflow-y: scroll;
        transition: opacity 0.6s ease;
        padding: 1em;
        @media (min-width: 500px) {
            height: 75vh;
            @include flexCenter(column);
            justify-content: space-evenly;
            .menu-list{
                padding: 0em;
                column-count: 2;
                .menu-item{
                    display: inline-block;
                }
                @media (min-width: 720px) {
                    width: 70vw;
                };
            }
        }
    }
}