nav {
    width: 100vw;
    height: 15vh;
    background: black;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
    align-items: center;
    text-decoration: none;
    list-style: none;
    transition: height 1s ease-in-out;
    box-shadow: 3px;
    z-index: 97;
    img {
        z-index: 98;
    }
    .burger {
        cursor: pointer;
        padding-right: 1vw;
        .line1, .line2, .line3 {
            width: 35px;
            height: 5px;
            background-color: $white;
            margin: 6px 0;
            transition: 0.4s;
          }
    }
}
    .nav-links {
        position: absolute;
        top: 15vh;        
        width: 100vw;
        background: black;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 0vh; 
        transition: height .5s ease-in-out;
        pointer-events: none;
        li {
            opacity: 0;
        };
        a {
            text-decoration: none;
            color: $white;   
        }
        a:hover {
            color: $green;
        }
    }
    .nav-scroll {
        .nav-links a {
            text-decoration: underline $green solid;
        }
    }
   .nav-active {
       .nav-links {
           pointer-events: auto;
            height: 35vh !important;
            li {
                opacity: 1 !important;
            };    
        }
        .line1{
            transform: rotate(-45deg) translate(-9px, 6px);
        }
        .line2{
            opacity: 0;
        }
        .line3{
            transform: rotate(45deg) translate(-8px, -8px);
        }
    }
    
    .nav-fixed {
        height: 10vh;
        position: fixed;
        top: 0;
        left: 0;
        .nav-links{
            top: 10vh;
        }
    }

@media only screen and (min-width: 720px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: space-between;
        height: 15vh;
        img {
            z-index: 99;
            height: 10vh;
        }
        .nav-links {
            pointer-events: auto;
            position: static;
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end; 
            li {
            opacity: 1;
            width: 15vw;
            }
        }
    }

    .burger {
        display: none;
    }
    
    
}
