@import './variables';

@mixin selectionBox {
    width: 75vw;
        @media (min-width: 720px) {
            width: 40vw;
        }
    label {
        display: inline-block;
        height: 6vh;
        background: $white;
        color: black;
        display: block;
        margin: 1vh 0;
        text-align: center;
        cursor: pointer;
        &:hover {
            background: $green;
        }
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: black;
    color: $white;
    font-family: 'Slabo 27px';
    font-size: 12pt;
    line-height: 2;
    text-align: center;
    overflow-x: hidden;
    @media (min-width: 720px) {
        background-image: url(/images/burger-bg.jpeg);
        background-repeat: no-repeat no-repeat;
        background-size: cover;
        background-position: center;
        }
}

button {
    padding: 1em;
    border-style: none;
    background: $green;
    font-family: 'Slabo 27px';
    outline-style: none;
    cursor: pointer;
    &:hover {
        background: darkgreen;
    }
}

nav {
    width: 100vw;
    background: black;
    display: flex;
    justify-content: space-between;    
    img {
        width: auto;
        height: 10vh;
    }
    button {
        padding-right: 2vw;
        height: 10vh;
        width: 20vw;
    }
}



#book {
    background: black;
    margin: auto;
    @media (min-width: 720px) {
        margin: 10vh auto;
    }
    width: 95vw; 
    @media (min-width: 720px) {
        width: 60vw;
    }
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    form {
        font-size: 12pt;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: space-evenly;
        div {
            width: 80vw;
            @media (min-width: 720px) {
                width: 45vw;
            }
        }
        h3::after {
            content: ' * ';
            font-size: larger;
            color: $green;
        }
        input{
            font-family: 'Slabo 27px';
            text-align: center;
            padding: 1vw;
            margin: 1vw;
            width: 75vw;
            @media (min-width: 720px) {
                width: 40vw;
            }
            background: $white;
        }
        .invalid {
            border: 2px solid red;
        }
        .error {
            display: none;
            color: red;
        }
        input[type="radio"] {
            opacity: 0;
            height: 0;
        }
        .restaurant {
            @include selectionBox();
        }
        .time {
            @include selectionBox();
            h3 {
                height: 8vh;
            }                  
            #hour-selection {
                span {
                    background: $white;
                    cursor: pointer;
                    margin: 1vh 0;
                    display: block;
                    color: black;
                    height: 6vh;
                    &:hover {
                        background: $green;
                    }
                }
            }
            #time-selection {
                display: none;
                position: relative;
                button {
                    width: 75vw;
                    @media (min-width: 720px) {
                        position: absolute;
                        top: -9vh;
                        right: 0;
                        width: 7vw;
                    }
                }   
            }    
        }
        .party {
            @include selectionBox();
        }
        .message {
            label {
                h3:after {
                    content: '';
                }
            }
            textarea {
            @extend input;
            height: 30vh;
            resize: vertical;
            width: 75vw;
            @media (min-width: 720px) {
                width: 40vw;
            }
            font-family: 'Slabo 27px';
            text-align: center;
            background: $white;
            color: black;
            }
        }
        input[type=submit] {
            @extend button;
            width: 75vw;
            @media (min-width: 720px) {
                width: 8vw;
            }
        }
        .submit-message {
            color: $green;
            text-align: center;
            width: 75vw;
            display: none;
            opacity: 0;
            transition: opacity 0.2s ease-in;
            @media (min-width: 720px) {
                width: 40vw;
            }
        }
        .failure-message {
            @extend .submit-message;
        }
    }
}
