* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #000;
  color: #F5F5F5;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
}

@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 22px;
  }
}

body {
  line-height: 2;
  text-align: center;
  overflow-x: hidden;
}

@media (min-width: 720px) {
  body {
    background-image: url(/images/burger-bg.jpeg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10vh;
  }
}

:focus {
  outline-color: #205909;
}

button, #book form input[type=submit], #book form .message textarea[type=submit] {
  padding: 1em;
  border-style: none;
  background: #36970F;
  font-family: 'Slabo 27px', serif;
  font-size: 14px;
  cursor: pointer;
}

@media (min-width: 600px) {
  button, #book form input[type=submit], #book form .message textarea[type=submit] {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  button, #book form input[type=submit], #book form .message textarea[type=submit] {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  button, #book form input[type=submit], #book form .message textarea[type=submit] {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  button, #book form input[type=submit], #book form .message textarea[type=submit] {
    font-size: 22px;
  }
}

button:hover, #book form input:hover[type=submit], #book form .message textarea:hover[type=submit] {
  background: #205909;
}

nav {
  background: #000;
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  width: auto;
  height: 10vh;
}

nav button, nav #book form input[type=submit], #book form nav input[type=submit], nav #book form .message textarea[type=submit], #book form .message nav textarea[type=submit] {
  padding-right: 2vw;
  height: 10vh;
  width: 20vw;
}

#book {
  background: #000;
  margin: auto;
  width: 95vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

@media (min-width: 720px) {
  #book {
    margin-top: 10vh;
  }
}

@media (min-width: 720px) {
  #book {
    width: 60vw;
  }
}

#book form {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: space-evenly;
      flex-direction: space-evenly;
}

#book form div {
  width: 80vw;
}

@media (min-width: 720px) {
  #book form div {
    width: 45vw;
  }
}

#book form h3::after {
  content: ' * ';
  color: #36970F;
}

#book form input, #book form .message textarea {
  font-family: 'Slabo 27px';
  font-size: 14px;
  text-align: center;
  height: 8vh;
  padding: 2vw;
  margin: 2vw;
  width: 75vw;
  background: #F5F5F5;
}

@media (min-width: 600px) {
  #book form input, #book form .message textarea {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  #book form input, #book form .message textarea {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  #book form input, #book form .message textarea {
    font-size: 20px;
  }
}

@media (min-width: 1800px) {
  #book form input, #book form .message textarea {
    font-size: 22px;
  }
}

@media (min-width: 720px) {
  #book form input, #book form .message textarea {
    padding: 1vw;
    margin: 1vw;
    width: 40vw;
  }
}

#book form .invalid {
  border: 2px solid red;
}

#book form .error {
  display: none;
  color: red;
}

#book form .restaurant {
  width: 75vw;
}

@media (min-width: 720px) {
  #book form .restaurant {
    width: 40vw;
  }
}

#book form .restaurant label, #book form .restaurant .time #hour-selection span, #book form .time #hour-selection .restaurant span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: inherit;
  background: #F5F5F5;
  color: black;
  height: 8vh;
  margin: 2vh 0;
  text-align: center;
  cursor: pointer;
}

#book form .restaurant label:hover, #book form .restaurant .time #hour-selection span:hover, #book form .time #hour-selection .restaurant span:hover {
  background: #36970F;
}

#book form .restaurant input[type="radio"], #book form .restaurant .message textarea[type="radio"], #book form .message .restaurant textarea[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#book form .time {
  width: 75vw;
}

@media (min-width: 720px) {
  #book form .time {
    width: 40vw;
  }
}

#book form .time label, #book form .time #hour-selection span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: inherit;
  background: #F5F5F5;
  color: black;
  height: 8vh;
  margin: 2vh 0;
  text-align: center;
  cursor: pointer;
}

#book form .time label:hover, #book form .time #hour-selection span:hover {
  background: #36970F;
}

#book form .time input[type="radio"], #book form .time .message textarea[type="radio"], #book form .message .time textarea[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#book form .time h3 {
  height: 8vh;
}

#book form .time #hour-selection {
  width: 75vw;
}

@media (min-width: 720px) {
  #book form .time #hour-selection {
    width: 40vw;
  }
}

#book form .time #hour-selection label, #book form .time #hour-selection span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: inherit;
  background: #F5F5F5;
  color: black;
  height: 8vh;
  margin: 2vh 0;
  text-align: center;
  cursor: pointer;
}

#book form .time #hour-selection label:hover, #book form .time #hour-selection span:hover {
  background: #36970F;
}

#book form .time #hour-selection input[type="radio"], #book form .time #hour-selection .message textarea[type="radio"], #book form .message .time #hour-selection textarea[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#book form .time #time-selection {
  display: none;
  position: relative;
}

#book form .time #time-selection button, #book form .time #time-selection input[type=submit], #book form .time #time-selection .message textarea[type=submit], #book form .message .time #time-selection textarea[type=submit] {
  width: 75vw;
  padding: 0.6em;
}

@media (min-width: 720px) {
  #book form .time #time-selection button, #book form .time #time-selection input[type=submit], #book form .time #time-selection .message textarea[type=submit], #book form .message .time #time-selection textarea[type=submit] {
    position: absolute;
    top: -9vh;
    right: 0;
    width: 7vw;
  }
}

#book form .party {
  width: 75vw;
}

@media (min-width: 720px) {
  #book form .party {
    width: 40vw;
  }
}

#book form .party label, #book form .party .time #hour-selection span, #book form .time #hour-selection .party span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: inherit;
  background: #F5F5F5;
  color: black;
  height: 8vh;
  margin: 2vh 0;
  text-align: center;
  cursor: pointer;
}

#book form .party label:hover, #book form .party .time #hour-selection span:hover, #book form .time #hour-selection .party span:hover {
  background: #36970F;
}

#book form .party input[type="radio"], #book form .party .message textarea[type="radio"], #book form .message .party textarea[type="radio"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

#book form .message label h3:after, #book form .message .time #hour-selection span h3:after, #book form .time #hour-selection .message span h3:after {
  content: '';
}

#book form .message textarea {
  height: 30vh;
  resize: vertical;
  width: 75vw;
  text-align: center;
  background: #F5F5F5;
  color: black;
}

@media (min-width: 720px) {
  #book form .message textarea {
    width: 40vw;
  }
}

#book form input[type=submit], #book form .message textarea[type=submit] {
  height: auto;
  padding: 1em;
  width: 75vw;
}

@media (min-width: 720px) {
  #book form input[type=submit], #book form .message textarea[type=submit] {
    width: auto;
  }
}

#book form .submit-message {
  color: #36970F;
  text-align: center;
  width: 75vw;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in;
}

@media (min-width: 720px) {
  #book form .submit-message {
    width: 40vw;
  }
}
/*# sourceMappingURL=book.css.map */