* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  background: #000;
  color: #F5F5F5;
  font-family: 'Slabo 27px';
  font-size: 14px;
  line-height: 2;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: center;
}

:focus {
  outline-color: darkgreen;
}

@media only screen and (min-width: 720px) {
  body {
    font-size: 14pt;
  }
}

nav {
  scroll-snap-align: center;
  width: 100vw;
  height: 15vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  -webkit-box-shadow: 3px;
          box-shadow: 3px;
  z-index: 97;
}

nav img {
  z-index: 98;
}

nav .burger {
  cursor: pointer;
  padding-right: 1vw;
}

nav .burger .line1, nav .burger .line2, nav .burger .line3 {
  width: 35px;
  height: 5px;
  background-color: #F5F5F5;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-links {
  position: absolute;
  top: 15vh;
  width: 100vw;
  background: black;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 0vh;
  -webkit-transition: height .5s ease-in-out;
  transition: height .5s ease-in-out;
  pointer-events: none;
}

.nav-links li {
  opacity: 0;
}

.nav-links a {
  text-decoration: none;
  color: #F5F5F5;
}

.nav-links a:hover {
  color: #36970F;
}

.nav-scroll .nav-links a {
  -webkit-text-decoration: underline #36970F solid;
          text-decoration: underline #36970F solid;
}

.nav-active .nav-links {
  pointer-events: auto;
  height: 35vh !important;
}

.nav-active .nav-links li {
  opacity: 1 !important;
}

.nav-active .line1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

.nav-active .line2 {
  opacity: 0;
}

.nav-active .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
          transform: rotate(45deg) translate(-8px, -8px);
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
}

.nav-fixed .nav-links {
  top: 10vh;
}

@media only screen and (min-width: 720px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 20vh;
  }
  nav img {
    z-index: 99;
  }
  nav .nav-links {
    pointer-events: auto;
    position: static;
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .nav-links li {
    opacity: 1;
    width: 15vw;
  }
  .burger {
    display: none;
  }
}

#home-title, #menu-title, #reviews {
  background-image: url(/images/burger-mob.jpg);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 720px) {
  #home-title, #menu-title, #reviews {
    background-image: url(/images/burger-desktop.jpg);
  }
}

#home-title .arrow, #menu-title .arrow, #reviews .arrow {
  height: 10px;
}

#about-page .about-image {
  display: none;
}

#about-page .about-content {
  height: 100vh;
  padding: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about-page .about-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  padding: 2em;
  font-size: 10pt;
}

@media only screen and (min-width: 720px) {
  #about-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #about-page .about-image {
    display: block;
    width: 50vw;
    height: 100vh;
    background-image: url(../images/waitress.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center;
  }
  #about-page .about-content {
    width: 50vw;
    height: 100vh;
  }
  #about-page .about-content div {
    font-size: 12pt;
    width: 40vw;
  }
}

#menu-title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu-title h2 {
  height: 100vh;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menu-title .arrow {
  height: 10vh;
  text-decoration: none;
  color: #36970F;
}

#menu-title .arrow:hover {
  color: #205909;
}

#menu-content {
  height: auto;
}

@media (min-width: 500px) {
  #menu-content {
    height: 100vh;
  }
}

#menu-content .menu-nav {
  height: 25vh;
  padding-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#menu-content .menu-nav button {
  font-family: 'Slabo 27px';
  font-size: 14px;
  height: 15vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1vw;
  border-style: none;
  background: #36970F;
  cursor: pointer;
}

@media (min-width: 720px) {
  #menu-content .menu-nav button {
    padding: 1em;
    margin: 0 1em;
  }
}

#menu-content .menu-nav button:hover {
  background: #205909;
}

#menu-content .menu-container {
  width: 100vw;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  padding: 1em;
}

@media (min-width: 500px) {
  #menu-content .menu-container {
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #menu-content .menu-container .menu-list {
    padding: 0em;
    -webkit-column-count: 2;
            column-count: 2;
  }
  #menu-content .menu-container .menu-list .menu-item {
    display: block;
  }
}

@media (min-width: 500px) and (min-width: 720px) {
  #menu-content .menu-container .menu-list {
    width: 70vw;
  }
}

#reviews {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/burger-mob.jpg);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/images/burger-mob.jpg);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 720px) {
  #reviews {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/images/burger-desktop.jpg);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(/images/burger-desktop.jpg);
  }
}

#reviews h2 {
  height: 10vh;
}

#reviews .review-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #36970F;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#reviews .review-dot:nth-child(1) {
  background: #205909;
}

#reviews .review-container {
  height: 60vh;
  width: 100vw;
  position: relative;
}

#reviews .review-container .review-item {
  opacity: 0;
  height: 60vh;
  width: 100vw;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

#reviews .review-container .review-item:nth-child(1) {
  opacity: 1;
}

#reviews .review-container .review-item .review-text {
  width: 50vw;
}

#location {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#location h2 {
  height: 10vh;
}

#location .location-container {
  width: 100vw;
  height: 60vh;
  position: relative;
}

#location .location-container .location-item {
  position: absolute;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

#location .location-container .location-item:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
}

#location .location-container .location-item button {
  font-family: 'Slabo 27px';
  margin: 1vh;
  padding: 1em;
  border-style: none;
  background: #36970F;
  cursor: pointer;
}

#location .location-container .location-item button:hover {
  background: #205909;
}

#location .location-container .location-item .contact a {
  text-decoration: none;
  color: white;
}

#location .location-container .location-item .contact p:hover {
  color: #36970F;
}

#location .location-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #36970F;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

#location .location-dot:nth-child(1) {
  background-color: #205909;
}

@media only screen and (min-width: 720px) {
  .swipe {
    display: none;
  }
}

#connect {
  height: 30vh;
  padding-top: 10vh;
}

#connect ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

#connect li {
  width: 55px;
}

#connect li img {
  width: 55px;
  padding-left: 10px;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  pointer-events: none;
}

.modal {
  padding: 0 1em 1em 1em;
  position: relative;
  background: #F5F5F5;
  height: 60vh;
  width: 100vw;
  text-shadow: none;
}

.modal div {
  background: black;
  display: "none";
  height: 50vh;
}

.modal-header {
  width: 100%;
  text-align: right;
  color: #36970F;
}

.modal-header .modal-close {
  cursor: pointer;
}

.modal-active {
  opacity: 1;
  pointer-events: auto;
}

@media only screen and (min-width: 720px) {
  .modal {
    height: 60vh;
    width: 50vw;
  }
}

/* 320, 720, 1020 */
/*# sourceMappingURL=index.css.map */